.block {
  display: flex;
  flex-direction: column;
  row-gap: 6px;
}

.label {
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 50%;
}

.input {
  width: 70%;
  height: 30px;
  border: 1px solid #00000054;
  box-shadow: none;
}

.row {
  display: flex;
  width: 69%;
  position: relative;
}

.day {
  width: 110px;
  height: 40px;
  display: flex;
  align-items: center;
  margin-left: 5px;
}

.periods {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 10px;
}

.periodWrapper {
  display: flex;
  align-items: center;
  gap: 13px;
  position: relative;
}

.period {
  cursor: pointer;
  width: 88px;
  padding: 10px;
  height: 40px;
  border: 1px solid rgba(0, 0, 0, 0.33);
  border-radius: 5px;
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  outline: none;
}

select.period::-ms-expand {
  display: none;
}

.button {
  padding: 0 10px;
  width: 100%;
  min-width: 208px;
  width: max-content;
  height: 40px;
  border: 1px solid #8befca;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 340px;
  top: 0;
}

.remove {
  width: 40px;
  height: 40px;
  position: absolute;
  left: calc(100% + 17px);
  top: 0;
}
