.content {
  width: 100%;
  display: flex;
  gap: 22px;
}

.inner {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 11px;
  margin-bottom: 50px;
  height: 0;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s linear;
}

.inner.active {
  height: max-content;
  opacity: 1;
  visibility: visible;
  transition: all 0.3s linear 0.3s;
}
