.content {
  display: flex;
  flex-direction: column;
}

.title {
  font-family: Inter, sans-serif;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 21px;
}

.input {
  font-family: Inter, sans-serif;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 34px;
  height: 30px;
  border: 1px solid #00000054;
  box-shadow: none;
  width: 290px;
}

.input::placeholder {
  color: #00000080;
}

.buttons {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 13px;
}
